<div>
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item btn-sm btn-outline-success active">
                <a class="nav-link " href="#">Products</a>
            </li>
            <li class="nav-item btn-sm btn-outline-success">
                <a class="nav-link " href="#">Offers</a>
            </li>
            <li class="nav-item btn-sm btn-outline-success " style="margin:auto">
                <a class="nav-link " href="#">My Profile</a>
            </li>
            <li class="nav-item btn-sm btn-outline-success" style="margin:auto">
                <a class="nav-link " href="#">Create Offer</a>
            </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse dual-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item btn-sm btn-outline-success">
                  <a class="nav-link " href="#">Log Out</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
