<div>
  <!-- example 2 - using auto margins -->
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <div class="navbar-collapse collapse dual-collapse">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <a class="navbar-brand d-flex mx-auto" href="#">A lo loco!!! </a>
      <div class="navbar-collapse collapse dual-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item btn-sm btn-outline-success">
                  <a class="nav-link " href="#">Sign Up</a>
              </li>
          </ul>
      </div>
  </nav>

</div>
