<div>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
        <div class="navbar-collapse collapse dual-collapse">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'navbar.search' | translate}}</button>
            </form>
        </div>
        <spinner
               name="generalSpinner"
               show="false"
               img-src="../images/ajax-loader.gif">
        </spinner>
        <a class="navbar-brand d-flex mx-auto" href="#">{{'navbar.title' | translate}}</a>
    </nav>
</div>
