
<!--
    <div map-lazy-load="https://maps.google.com/maps/api/js"
      map-lazy-load-params="{{googleMapsUrl}}">
      <ng-map center="41,-87" zoom="3"></ng-map>
    </div>
<ng-map
        center="-25.363882,131.044922"
        zoom="4">

  <marker position="-25.363882,131.044922" title="Hello World!"></marker>
</ng-map>
-->

<div id="map" class="container-fluid">

</div>

<form name="formAddress" ng-submit="searchAddress()">
  <div class="form-group">

    <label for="exampleInputEmail1"><h2>Select address</h2></label>
    <input class="form-control" id="exampleInputEmail1" ng-model="myAddress.value" placeholder="{{ 'products.name' | translate }}">

    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>