
<!--
    <div map-lazy-load="https://maps.google.com/maps/api/js"
      map-lazy-load-params="{{googleMapsUrl}}">
      <ng-map center="41,-87" zoom="3"></ng-map>
    </div>
<ng-map
        center="-25.363882,131.044922"
        zoom="4">

  <marker position="-25.363882,131.044922" title="Hello World!"></marker>
</ng-map>
-->

<div id="map" class="container-fluid">

</div>

<form name="formAddress" ng-submit="hacerAlgo()">
  <div class="container-fluid">
    <div class="form-group">

      <label> Use my Address:
        <input type="checkbox" ng-model="useMyAddress">
      </label>

      <div data-ng-show="myAddressSelected()">
          <label ng-model="userAddress"></label>
      </div>

      <div data-ng-hide="myAddressSelected()">
        <label for="exampleInputEmail1"><h2>Select address</h2></label>
        <input class="form-control" id="exampleInputEmail1" data-ng-model="myAddress" placeholder="{{ 'products.name' | translate }}" />
        <button type="button" class="btn btn-default" ng-click="searchAddress()">Route</button>
      </div>


      <div class="modal-footer">
        <button type="submit" ng-disabled="deliveryReady()" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
</form>