<div class="container-fluid">

    <div class="row">

        <div class="col-md-2">

            <div class="offerBack">

                <div class="list-group ">
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                        All
                    </button>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info" ng-click="filterByCategory()">Category</button>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">Crossing</button>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">Combination</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <table class="table table-hover table-inverse">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Discount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="offer in offers" ng-click="offerDetail(offer.id)" data-toggle="modal" data-target="#detailProductList">
                    <td ng-bind="getType(offer)"></td>
                    <td>{{offer.discount}}</td>
                    <td>{{getDate(offer.start) | date:'MM/dd/yyyy'}}</td>
                    <td>{{getDate(offer.end) | date:'MM/dd/yyyy'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>