<div class="container-fluid">

    <div class="row">

        <div class="col-md-2">

            <div class="offerBack">

                <div class="list-group ">
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">All</button>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">Category</button>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">Crossing</button>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-info">Combination</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            
        </div>
    </div>
</div>