<div class="container-fluid">
    <div class="row justify-content-center bg-inverse" style="padding: 15px">
        <div class="col-md-8 col-md-offset-2">
            <form ng-submit="login()">
                <div class="form-group">
                    <label class="btn-outline-success"><h2>{{'user.username' | translate}}</h2></label>
                    <input type="text" name="username" class="form-control" ng-model="loginuser.username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label class="btn-outline-success"><h2>{{'user.password' | translate}}</h2></label>
                    <input type="password" name="loginpassword" class="form-control" ng-model="loginuser.password" placeholder="Password">
                </div>
                <input type="submit" class="btn btn-success" value="Login" />
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                <button class="btn btn-primary" type="button" >{{'general.cancel' | translate}}</button>
                <a class="nav-link" href="/signup">{{'user.createaccount' | translate}}</a>
            </form>
            <button ng-click="onLogInButtonClick()">{{'navbar.login' | translate}}</button>
        </div>
    </div>
</div>
