<!-- <div class="container-fluid">
    <div class="row justify-content-center bg-inverse" style="padding: 15px">
        <div class="col-md-8 col-md-offset-2">
            <form ng-submit="login()">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">{{'user.username' | translate}}</label>
                    <input type="text" name="username" class="form-control" ng-model="loginuser.username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label class="btn-outline-success"><h2>{{'user.password' | translate}}</h2></label>
                    <input type="password" name="loginpassword" class="form-control" ng-model="loginuser.password" placeholder="Password">
                </div>
                <input type="submit" class="btn btn-success" value="Login" />
                <button class="btn btn-primary" type="button" >{{'general.cancel' | translate}}</button>
                <a class="nav-link" href="/signup">{{'user.createaccount' | translate}}</a>
            </form>
            <button ng-click="onLogInButtonClick()">{{'navbar.login' | translate}}</button>
        </div>
    </div>
</div> -->

<div class="container">
  <!-- <div class="omb_login center-block">
    <h3 class="omb_authTitle">Login a lo loco</h3>
    <div class="row sm-offset-3">
      <div class="col-xs-4 col-sm-2">
        <button class="btn btn-lg btn-block btn-danger" ng-click="onLogInButtonClick()">
          <i class="fa fa-google-plus visible-xs"></i>
          <span class="hidden-xs">Google+</span>
        </button>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="row sm-offset-3" >
      <div class="col-xs-12 col-sm-6">
        <form ng-submit="signup()">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="{{'user.username' | translate}}" ng-model="loginuser.username" required>
          </div>
          <span class="help-block"></span>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="{{'user.password' | translate}}" ng-model="loginuser.password" required>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{'navbar.login' | translate}}</button>
        </form>
        <a class="nav-link" href="/signup">{{'user.createaccount' | translate}}</a>
      </div>
    </div>
  </div>
</div> -->
<div class="omb_login">
  <h3 class="omb_authTitle">{{'navbar.login' | translate}} {{'navbar.title' | translate}}</h3>
  <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
          <button class="btn btn-lg btn-block btn-danger" ng-click="onLogInButtonClick()">
            <i class="fa fa-google-plus visible-xs"></i>
            <span class="hidden-xs">Google+</span>
          </button>
        </div>
  </div>

  <div class="row omb_row-sm-offset-3 omb_loginOr">
    <div class="col-xs-12 col-sm-6">
      <hr class="omb_hrOr">
      <span class="omb_spanOr">{{'general.or' | translate}}</span>
    </div>
  </div>

  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
        <form class="omb_loginForm" ng-submit="login()">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="{{'user.username' | translate}}" ng-model="loginuser.username" required>
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="{{'user.password' | translate}}" ng-model="loginuser.password" required>
        </div>
        <span ng-show="loginError" class="help-block text-danger">{{'general.loginerror' | translate}}</span>
        <span class="help-block"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{'navbar.login' | translate}}</button>
        <!-- <button class="no-style-button" onclick="location.href='/signup';" type="submit">{{'user.createaccount' | translate}}</button> -->
      </form>
      <a class="nav-link" href="/signup">{{'user.createaccount' | translate}}</a>
    </div>
  </div>

</div>


</div>
