<div class="container-fluid">
    <div class="spinner" ng-show="loading"></div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover table-inverse table-striped">
            <thead>
            <tr>
                <th></th>
                <th>{{'productlist.listname' | translate}}</th>
                <th>{{'productlist.creationDate' | translate}}</th>
                <th>{{'productlist.totalAmount' | translate}}</th>
                <th>{{'productlist.options' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="list in productlists">
                <th scope="row"></th>
                <td ng-click="listDetail(list.id)" data-toggle="modal" data-target="#detailProductList">{{list.name}}</td>
                <td>{{list.pubDate | date:'shortTime'}}</td>
                <td>{{list.totalAmount.integer}}.{{list.totalAmount.decimal}}</td>
                <td>
                    <button type="button" class="btn btn-danger floatRight" data-ng-show="shopping.canBuy" data-ng-click="shop(list.id)">
                        <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> {{'productlist.shop' | translate}}
                    </button>
                    <button type="button" class="btn btn-success floatRight" data-ng-disabled="shopping.listId !== null" data-ng-click="ready(list.id)">
                        <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> {{'productlist.ready' | translate}}
                    </button>
                    <button type="button" class="btn btn-info floatRight" ng-click="goDelivery()">
                        <span><i class="fa fa-truck" aria-hidden="true"></i></span> {{'productlist.delivery' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>

    <span class="help-block"></span>

    <div class="row">
        <div>
            <button type="button" class="btn btn-success separated" data-toggle="modal" data-target="#modalNewProductList">{{'productlist.createlist' | translate}}</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNewProductList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header btn-primary">
                <h5 class="modal-title">{{'productlist.createlist' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>{{'productlist.listname' | translate}}</label>
                    <input type="text" class="form-control" ng-model="newList.name" aria-describedby="emailHelp" placeholder="Enter new name">
                    <small id="emailHelp" class="form-text text-muted">{{'productlist.repeatedname' | translate}} </small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'general.cancel' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="createproductlist()">{{'productlist.create' | translate}}</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="detailProductList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header btn-primary">
                <h5 class="modal-title"> {{selectedProductList.name}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{'productlist.product' | translate}}</th>
                                <th>{{'products.quantity' | translate}}</th>
                                <th>{{'products.price' | translate}}</th>
                                <th>{{'productlist.options' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="selectedProduct in selectedProductList.allProducts">
                                <td>{{selectedProduct.product.name}}</td>
                                <td>
                                  <div class="form-group row">
                                      <input class="form-control" type="number" value="{{selectedProduct.quantity}}" ng-model="selectedProduct.quantity" min="1" max="{{selectedProduct.stock}}">
                                  </div>
                                </td>
                                <!-- <td>{{selectedProduct.price.integer | date:'shortTime'}}</td> -->
                                <!-- <td>{{selectedProduct.product.price.integer | currency}}</td> -->
                                <td>{{selectedProduct.product.price.integer}}.{{selectedProduct.product.price.decimal}}</td>
                                <td>
                                    <button type="button" class="btn btn-success floatRight" data-ng-click="updateSelectedProduct(selectedProductList.id, selectedProduct.id, selectedProduct)">
                                        <span class="glyphicon glyphicon-search">{{'productlist.update' | translate}}</span>
                                    </button>
                                    <button type="button" class="btn btn-info floatRight" data-ng-click="deleteSelectedProduct(selectedProductList.id, selectedProduct.id)">
                                        <span class="glyphicon glyphicon-search">{{'productlist.delete' | translate}}</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'general.cancel' | translate}}</button>
            </div>

        </div>
    </div>
</div>
