<div class="container-fluid">
    <div class="row">
        <table class="table table-hover table-inverse">
            <thead>
            <tr>
                <th></th>
                <th>List Name</th>
                <th>Date of Creation</th>
                <th>Total Amount</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="list in productlists">
                <th scope="row"></th>
                <td ng-click="listDetail(list.id)" data-toggle="modal" data-target="#detailProductList">{{list.name}}</td>
                <td>{{list.pubDate | date:'shortTime'}}</td>
                <td>{{list.totalAmount.integer}}.{{list.totalAmount.decimal}}</td>
                <td>
                    <button type="button" class="btn btn-success floatRight">
                        <a class="glyphicon glyphicon-search">Ready</a>
                    </button>
                    <button type="button" class="btn btn-info floatRight" href="/delivery">
                        <a class="glyphicon glyphicon-search" href="/delivery">Delivery</a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn btn-success separated" data-toggle="modal" data-target="#modalNewProductList">{{'productlist.createlist' | translate}}</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNewProductList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header btn-primary">
                <h5 class="modal-title">{{'productlist.createlist' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>{{'productlist.listname' | translate}}</label>
                    <input type="text" class="form-control" ng-model="newListName" aria-describedby="emailHelp" placeholder="Enter new name">
                    <small id="emailHelp" class="form-text text-muted">{{'productlist.repeatedname' | translate}} </small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'general.cancel' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="createproductlist()" >{{'productlist.create' | translate}}</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="detailProductList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header btn-primary">
                <h5 class="modal-title"> {{selectedProductList.name}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="selectedProduct in selectedProductList.allProducts">
                                <td>{{selectedProduct.product.name}}</td>
                                <td>{{selectedProduct.quantity}}</td>
                                <td>{{selectedProduct.price.integer | date:'shortTime'}}</td>
                                <td>{{selectedProduct.totalAmount | currency}}</td>
                                <td>
                                    <button type="button" class="btn btn-success floatRight">
                                        <span class="glyphicon glyphicon-search">Update</span>
                                    </button>
                                    <button type="button" class="btn btn-info floatRight" data-ng-click="deleteSelectedProduct(selectedProductList.id, selectedProduct.id)">
                                        <span class="glyphicon glyphicon-search">Delete</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'general.cancel' | translate}}</button>
            </div>

        </div>
    </div>
</div>
