<div class="container-fluid">
  <div class="row">

      <div class="col-md-4 col-xs-12 bg-inverse">
          <div class="">
              <div>
                  <a><img ng-src="../images/no-image-available.png" alt="asd" class="img-thumbnail squareImage"></a>
              </div>
              <div class="">
                  <span class="ourGreen"> {{'user.email' | translate}} : </span> <span class="ourGreen"> {{profile.email}} </span>
              </div>
              <div class="">
                  <span class="ourGreen"> {{'user.username' | translate}}: </span> <span class="ourGreen"> {{profile.username}} </span>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-divider"></div>
              <div>
                  <div class="btn-group dropup">
                      <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle ourGreen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{'productlist.options' | translate}}
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item ourGreen" href="#">{{'user.changePassword' | translate}}</a>
                          <a class="dropdown-item ourGreen" href="#">{{'user.changeProfileImage' | translate}}</a>
                          <a class="dropdown-item ourGreen" href="#">Be Awesome</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-8 col-xs-12">
          <div class="">
              <div class="table-responsive">
                <table class="table table-hover table-inverse table-striped">
                  <thead>
                  <tr>
                      <th class="ourGreen">{{'productlist.listname' | translate}}</th>
                      <th class="ourGreen">{{'user.paymentDate' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="purchase in records" data-toggle="modal" data-target="#detailProductList">
                      <td> {{purchase.purchaselist.name}} </td>
                      <td> {{purchase.purchasedate | date:'medium'}} </td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>
      </div>
  </div>
</div>
