<div class="container-fluid">
  <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{profile.username}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" ng-src="{{profile.profile.url}}" class="img-circle img-responsive">
              <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#profileModal" >Upload New Picture</button>
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Email:</td>
                    <td>{{profile.email}}</td>
                  </tr>
                  <tr>
                    <td>Home Address:</td>
                    <td>{{profile.profile.address.address}}</td>
                  </tr>
                  <tr>
                    <td>Change Password:</td>
                    <td>
                      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover table-inverse table-striped">
              <thead>
              <tr>
                  <th>{{'productlist.listname' | translate}}</th>
                  <th>{{'user.paymentDate' | translate}}</th>
              </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="purchase in records" data-toggle="modal" data-target="#detailProductList">
                    <td> {{purchase.purchaselist.name}} </td>
                    <td> {{purchase.purchasedate | date:'medium'}} </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change profile picture</h3>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label>Image URL</label>
                <input type="text" name="username" class="form-control" ng-model="pictureChoosen" placeholder="url">
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn primary-btn" value="Choose" data-dismiss="modal" ng-disabled="pictureChoose()" data-ng-click="setProfilePicture(pictureChoosen)"/>
              <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
            </div>
          </form>
      </div>
  </div>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change password</h3>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label>Old password</label>
                <input type="password" name="oldusername" class="form-control" ng-model="changePassword.oldpassword" placeholder="Old Password">
              </div>
              <div class="form-group">
                <label>New password</label>
                <input type="password" name="newpassword" class="form-control" ng-model="changePassword.newpassword" placeholder="New Password">
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn primary-btn" value="Choose" data-dismiss="modal" ng-disabled="!checkChangedPassword()" data-ng-click="changePassword(changePassword.newpassword)"/>
              <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
            </div>
          </form>
      </div>
  </div>
</div>
