<div class="container-fluid">
    <div class="row justify-content-center bg-inverse" style="padding: 15px">
        <div class="col-md-8 col-md-offset-2">
            <form ng-submit="signup()">
                <div class="form-group">
                      <label class="btn-outline-success"><h2>{{signup.username | translate}}</h2></label>
                    <input type="text" name="username" class="form-control" ng-model="signupuser.username" placeholder="Username" required>
                <div class="form-group">
                    <label class="btn-outline-success"><h2>{{signup.password | translate}}</h2></label>
                    <input type="password" name="password1" class="form-control" ng-model="signupuser.password" placeholder="Password">
                </div>
                <!--
                <div class="form-group">
                        <label class="btn-outline-success"><h2>Repeat password</h2></label>
                        <input type="password" name="password2" class="form-control" ng-model="signupuser.password" placeholder="Repeat Password">
                    </div>
                    -->
                    <input type="submit" class="btn btn-success" value="Register" />
                    <button class="btn btn-primary" type="button" >{{general.cancel | translate}}</button>
                </form>
            </div>
        </div>
    </div>
