<!doctype html>
<html>
    <head>


        <!-- EXTERNAL -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
        <script src="https://unpkg.com/flatpickr"></script>
        <link rel="stylesheet" href="js/bootstrap-slider.min.css">
        <script src="js/bootstrap-slider.min.js"></script>


        <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css-+--"> -->
        <!-- <link rel="stylesheet" type="text/plain" href="css/bootstrap.min.css.map"> -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/loading.css">
        <!--<link rel="stylesheet" type="text/css" href="js/flatpickr.min.css">-->

        <!-- <script src="js/jquery.slim.min.js"></script> -->
        <!-- <script src="js/tether.min.js"></script> -->
        <!-- <script src="js/bootstrap.min.js"></script> -->

        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js" type="text/javascript"></script>
        <!-- <script src="js/angular-locale_es-us.js" type="text/javascript"></script> -->
        <script src="js/angular-translate.min.js" type="text/javascript"></script>
        <script src="js/tmhDynamicLocale.min.js" type="text/javascript"></script>
        <script src="js/angular-spinners.min.js" type="text/javascript"></script>
        <script src="js/ng-map.min.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1cr5VbsjUqqe3wELND6gpbWC6LEhsNcQ"></script>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script> -->
        <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="js/ui-bootstrap-tpls.js" type="text/javascript"></script>

        <!-- <meta name="google-signin-scope" content="profile email"> -->
        <!-- <meta name="google-signin-client_id" content="133189555236-qnmaelj9jr3n4jahdq52n8drgjd1nbf6.apps.googleusercontent.com"> -->


        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>
    <base href="/">

    <body data-ng-app="aloloco-app">
        <div class="container-fluid">
            <div class="whiteSpaceTop"></div>
            <div class="fixed-top" ng-controller="MainController">
                <div ng-include src="'views/alolocoTop.html'"></div>
                <div ng-include src="'views/alolocoNav.html'"></div>
            </div>


            <div ng-view></div>

        <div class="whiteSpaceBottom"></div>

        <footer>
            <div class="footer site-footer fixed-bottom">
                <h6 class=""> Laime Jesus & Sandoval Lucas Enterprise - 2017  </h6>
            </div>
        </footer>

      </div>

    <script src="app/app.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/services/offer_service.js"></script>
    <script src="app/services/product_list_service.js"></script>
    <script src="app/services/product_service.js"></script>
    <script src="app/services/shop_service.js"></script>
    <script src="app/services/user_service.js"></script>
    <script src="app/controllers/controllers.js"></script>
    <script src="app/controllers/main_controller.js"></script>
    <script src="app/controllers/product_controller.js"></script>
    <script src="app/controllers/product_list_controller.js"></script>
    <script src="app/controllers/delivery_controller.js"></script>
    <script src="app/controllers/home_offer_controller.js"></script>
    <script src="app/controllers/login_controller.js"></script>
    <script src="app/controllers/sign_up_controller.js"></script>
    <script src="app/controllers/profile_controller.js"></script>
    </body>

</html>
